*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.notification{

}
.icon-container{

}
.fas{

}
.fa-exclamation-triangle{

}
.content{

}
.icon-close{

}
.fa-times{

}
.fas.fa-exclamation-triangle{

}
.fas.fa-times{

}